/************************************VARIABLES******************************************/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$black: #323232; //paragraph text navigation background
$silver: #AFAFAF; //text label style
$mercury: #E1E1E1; //dividers don't use mercury
$alabaster: #FAFAFA;
$white: #FFFF;
$brainflix-blue: #0095FF;
$instock-blue-dark: #002F5F;
$brainflix-dark-blue-hover: #0065AD;