@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/breakpoints";
@import "../../partials/variables";

/************************************HERO CONTAINER****************************/

.herovideo {
	&__background {
		display: flex;
		position: relative;
		justify-content: center;
		object-fit: cover;
		width: 100%;
		height: 57.18vw; //183px
		@include tablet {
			height: 52.08vw; //400px
			display: flex;
			background-color: $black;
			justify-content: center;
		}
		@include desktop {
			height: 42.18vw; //540px
		}
	}
	&__media {
	    min-width: 100%;
	    max-width: 100%;
	    margin: 0;
	    background-color: $absolute-black;
	    height: 100%;
		@include tablet {
			min-width: 700px;
			max-width: 54.68%;
			align-items: center;
			display: flex;
		}
		@include desktop {
			margin: 0;
		    min-width: 944px;
			max-width: 73.75%;
		}
	}
	&__panel {
		display: flex;
		position: absolute;
		bottom: $increment1-px;
		width: 100%;
		@include tablet {
			width: 700px;
			bottom: $increment2-px;
		}
		@include desktop {
			width: 944px;
			padding: 0 $increment2-px;
		}
	}
	&__panel-box {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__partition-play-icon {
		display: flex;
		position: relative;
		width: $increment5-px;
		height: $increment5-px;
		border-radius: $increment0-px;
		background-color: $black;
		margin-left:$increment1-px;
		height: $increment4-px;
		@include tablet {
			justify-content: center;
			margin-left: $increment1-px;
		}
		@include desktop {
			margin-left: $increment2-px;
		}
	}
	&__play-icon {
		width: $increment20px-px;
		height: $increment20px-px;
		border-radius: $increment0-px;
		padding-top: $increment1-px;
		padding-left: $increment1-px;
	}
	&__scrubber {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $black;
		flex: auto;
		margin: 0 $increment1-px;
		height: $increment4-px;
		border-radius: $increment0-px;
		@include tablet {
			margin-left: $increment2-px;
			padding-left: $increment2-px;
			justify-content: space-between;
		}
	}
	&__scrubber-progress {
		height: $increment0-px;
		width: 80%;
		padding-left: $increment2-px;
		background-color: $brainflix-blue;
		border-radius: $increment0-px;
		align-self: center;
		@include desktop{
			width: 85%;
		}
	}
	&__scrubber-time {
		display: none;
		@include tablet {
			@include h5-labels;
			display: flex;
			color: $white;
			width: auto;
			background-color: $black;
			margin-right: $increment2-px;
		}
	}
	&__switch-icons {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		background-color: $black;
		width: $increment10-px;
		height: $increment4-px;
		border-radius: $increment0-px;
		margin-right: $increment1-px;
	}
	&__screen-icon {
		width: $increment20px-px;
		height: $increment20px-px;
		align-self: center;
		margin-right: $increment1-px;
		background-color: $black;

	}
	&__sound-icon {
		width: $increment20px-px;
		height: $increment20px-px;
		align-self: center;
		background-color: $black;
	}
}