@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/breakpoints";
@import "../../partials/variables";
/************************************COMMENTS FEED SECTION************************************/

.form {
    @include standard-padding-left;
    background-color: $white;
    @include tablet {
      width:720px;
    }
    @include desktop {
        width:712px;
      }
  
    &__header {
        @include h3-subheader;
        display: inline-flex;
        margin: 3.0rem 0 2.0rem 0; //40px 0 32px 0
        @include tablet {
            margin: 2.5rem 0rem 2rem 0; //40px 0 32px 0
        }
     
   
    }
    &__wrap {
        @include tablet {
           margin: 0;
        
        }
    
    }
    &__binding {
        padding: 0 ;
    }
    &__feed {
        display: flex;
        justify-content: space-between;
       width: 100%;
        @include tablet {
            padding-bottom: $increment2-px;
            justify-content: left;
        }
    }
    &__avi {
        width:  $increment6-px;
        height:  $increment6-px;
        border-radius: 33.3px; //circle
        margin-right: $increment2-px;
        position: relative;
        @include tablet {
            margin: $increment4-px 1.3vw 0 0;
        }
    }
    &__boxes {
        padding: 0;
        @include tablet{
            display:flex;
            flex-direction: column;
            width: 100%;
        }
    }
    input:focus,
    select:focus,
    area:focus,
    button:focus {
        outline: $brainflix-dark-blue-hover;
        border-width: 0.2rem;
    }
    &__tag {
        width: 65vw;
        display:inline;
        box-sizing: border-box;
        @include h5-labels;
        @include tablet{
            align-items:center;
            width: 180px;
            height: $increment4-px; 
     }
    }
   
&_partition-note-field-button{
    @include tablet{
       display:flex;
       align-content:flex-end;
    }
}
    &__note-field {
        background-color: $alabaster;
        @include h5-labels;
        box-sizing: border-box;
        border-radius:$increment0-px; 
        width: 70.0vw; // 224px 
        height: $increment8-px; // 64px 
        margin: $increment2-px 0; //spaces in between the boxes 
        resize: none;
        padding-top: $increment0-px; 
        padding-left: $increment0-px; 
        &:active {
            border-color: $brainflix-blue;
        }
        &:hover {
            border-color: $brainflix-blue;
        }
        @include tablet {
            padding-top: $increment0-px; 
            padding-left: $increment0-px; 
            margin: 0;
            width: 440px; //436px
            height: $increment6-px;
            align-self:center;

        }
        
    }
    textarea::placeholder{
        padding-top: $increment0-px; 
        padding-left: $increment0-px; 
    }
    &__form-button-partition {
         width: $increment20-px; //160px 
    }
    &__button {
        @include button;
        @include tablet{
          align-content: center;
           padding:0;
          margin-left: $increment2-px; 
          position:absolute;
          
        }
    }
}

