/************************************FONTS******************************************/
@font-face {
  font-family: "AvenirNextLTProRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTProDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTProBold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
/*************************************H1 HERO HEADING************************************/
/*****************************************H1-Main-heading****************************/
/*********************H2 - Header subheader for mobile*********************/
/*******************************H3 - Subheader for Tablet and Desktop*************/
/********************H4 Paragraph & Comments*******************************/
/********************************h4-lists-and-contacts-information**************/
/********************************P-Paragraph****************************/
/*******************************************H5-Labels***********************/
/***************************************PADDING**************************************************/
/**********************************************DIVIDERS******************************************************/
/********************************* FOR TABLETS**********************************************************/
/********************************* FOR DESKTOP*************************************/
/************************************VARIABLES******************************************/
/************************************COMMENTS FEED SECTION************************************/
.feed {
  padding: 0 5vw 0 5vw;
  background-color: #FFFF;
}
@media (min-width: 768px) {
  .feed {
    padding: 0 3.1vw 0 3.1vw;
  }
}
@media (min-width: 1280px) {
  .feed {
    padding: 0 6.3vw 0 6.3vw;
  }
}
@media (min-width: 768px) {
  .feed {
    min-width: 68.8vw;
    max-width: 41.3vw;
  }
}
@media (min-width: 1280px) {
  .feed {
    max-width: 41.3vw;
  }
}
.feed__header {
  font-family: AvenirNextLTProBold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFF;
  color: #323232;
  min-width: 87.5vw;
  max-width: 58.2vw;
  display: inline-flex;
  margin: 2rem 0 2.5rem 0;
}
@media (min-width: 768px) {
  .feed__header {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1280px) {
  .feed__header {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 768px) {
  .feed__header {
    margin: 3rem 0rem 3.5rem 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .feed__wrap {
    margin: 0 13vw 0 13vw;
  }
}
@media (min-width: 1280px) {
  .feed__wrap {
    margin: 0 196px 0 196px;
  }
}
.feed__binding {
  padding: 0 0 0rem;
}
@media (min-width: 768px) {
  .feed__binding {
    padding: 0 0 2rem;
  }
}
.feed__feed {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .feed__feed {
    padding: 0 0 2rem;
  }
}
.feed__avi {
  width: 3rem;
  height: 3rem;
  border-radius: 33.3px;
  margin: 0 5vw 0 0;
  position: relative;
}
@media (min-width: 768px) {
  .feed__avi {
    margin: 0 2.1vw 0 0;
  }
}
@media (min-width: 1280px) {
  .feed__avi {
    margin: 0 1.3vw 0 0;
  }
}
.feed__boxes {
  padding: 0 0px 0 0px;
}
.feed input:focus,
.feed select:focus,
.feed textarea:focus,
.feed button:focus {
  outline: #323232;
  border-width: 0.2rem;
}
.feed__tag {
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
}
@media (min-width: 768px) {
  .feed__tag {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .feed__tag {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
.feed__tag, .feed__alias-field, .feed__note-field {
  padding: 0 30vw 0 0;
}
.feed__alias-field {
  background-color: #FAFAFA;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  box-sizing: border-box;
  border-radius: 4px;
  align-self: right;
  margin: 1rem 0 1rem 0;
  width: 70vw;
  height: 10vw;
  padding: 1px 0 0 10px;
}
@media (min-width: 768px) {
  .feed__alias-field {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .feed__alias-field {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 768px) {
  .feed__alias-field {
    width: 28.8rem;
    height: 3rem;
  }
}
.feed__note-field {
  background-color: #FAFAFA;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: AvenirNextLTProRegular;
  color: #AFAFAF;
  box-sizing: border-box;
  border-radius: 0.25rem;
  width: 70vw;
  height: 20vw;
  margin: 1rem 0 1rem 0;
  resize: none;
  padding: 10px 0 0 10px;
}
@media (min-width: 768px) {
  .feed__note-field {
    font-size: 0.8rem;
    line-height: 1.3rem;
    font-family: AvenirNextLTProDemi;
  }
}
@media (min-width: 1280px) {
  .feed__note-field {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 768px) {
  .feed__note-field {
    width: 28.8rem;
    height: 6rem;
  }
}
.feed__repository {
  display: flex;
  flex-flow: row wrap;
  margin: 1px 0rem 1rem 0;
}
@media (min-width: 768px) {
  .feed__repository {
    margin: 0 124px 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  .feed__repository {
    margin: 40px 264px 0 0;
  }
}
.feed__empty-container {
  width: 100%;
  padding: 1.5rem 0rem 0;
}
@media (min-width: 768px) {
  .feed__empty-container {
    width: 528px;
    margin: 0 auto;
    padding: 0rem 1rem 0;
  }
}
.feed__top-container {
  display: flex;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .feed__top-container {
    margin: 0 0 0 0;
  }
}
.feed__top-right-container {
  width: 62.5vw;
  padding: 0 0 1.5rem 0;
}
@media (min-width: 768px) {
  .feed__top-right-container {
    width: 27.8rem;
  }
}
.feed__top-right-left-container {
  padding: 1.5rem 0 0.5rem 0;
  display: flex;
  width: 100%;
}
.feed__border {
  background: #AFAFAF;
  width: 100%;
  height: 1px;
}
.feed__avi {
  margin: 0 1.3rem 0 0;
  height: 3rem;
  width: 3rem;
  border-radius: 33.33px;
}
.feed__name {
  width: 140px;
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-family: AvenirNextLTProBold;
}
@media (min-width: 768px) {
  .feed__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .feed__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 768px) {
  .feed__name {
    line-height: none;
    height: 1rem;
  }
}
.feed__time {
  height: 1rem;
  width: 132px;
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
@media (min-width: 768px) {
  .feed__time {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .feed__time {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 768px) {
  .feed__time {
    width: 132px;
  }
}
.feed__comment {
  color: #323232;
  font-family: AvenirNextLTProRegular;
  font-size: 0.8rem;
  line-height: 1.1rem;
  width: 62.5vw;
}
@media (min-width: 768px) {
  .feed__comment {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .feed__comment {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (min-width: 768px) {
  .feed__comment {
    width: 444px;
  }
}
.feed__button {
  background-color: #323232;
  font-family: AvenirNextLTProRegular;
  color: #323232;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: #FFFF;
  font-family: AvenirNextLTProDemi;
  color: #FFFF;
  min-width: 65.5vw;
  max-width: 29.2vw;
  min-height: 10vw;
  max-height: 15vw;
  border-radius: 4px;
  margin: 1rem 0 1rem 0px;
}
@media (min-width: 768px) {
  .feed__button {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
@media (min-width: 1280px) {
  .feed__button {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.feed__button:hover {
  background: #323232;
}
.feed__button:focus {
  outline: none;
}
@media (min-width: 768px) {
  .feed__button {
    min-width: unset;
    max-width: unset;
    min-height: unset;
    max-height: unset;
    padding: 0;
    width: 160px;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .feed__button {
    padding: 0;
    margin: 1rem 0 1rem 0;
  }
}
@media (min-width: 768px) {
  .feed__button {
    float: right;
  }
}

/*****************************************CARD FEED SECTION***********************************//*# sourceMappingURL=feed.css.map */