@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/breakpoints";
@import "../../partials/variables";

/************************************ABOUT SECTION************************************/

.about {
	background-color: $white;
	color: $black;
	display: flex;
	flex-direction: column;
		@include standard-padding-left;
	&__title {
		margin-top: $increment4-rem;
		margin-bottom: $increment2-rem;
		@include h1-main-header-black-bold;
		@include tablet {
			margin-top: $increment6-rem;
			margin-bottom: $increment2-rem;
		}
	}
	&__wrap {
		@include tablet {
			display: flex;
			justify-content: space-between;
		}
	}
	&__info-partition {
		display: flex;
		margin-bottom: $increment3-rem;
		height: $increment3-rem;
		@include tablet {
			flex-direction: row;
		}
	}
	&__name {
		display: flex;
		align-self: center;
		@include h3-subheader;
		margin-right: $increment1-rem;
		@include tablet {
			@include h3-subheader;
		}
	}
	&__date {
		margin: 0;
		align-self: center;
		@include h5-labels;
		//@include tablet {}
	}
	&__likes-count {
		@include h5-labels;
		margin: 0;
		align-self: center;
		@include desktop {
			@include h5-labels;
		}
	}
	&__views-count {
		@include h5-labels;
		align-self: center;
		margin: 0;
	
	}
	&__views-icon {
		align-self: center;
		margin-right: $increment1-px;
		width: $increment20px-px;
		height: $increment20px-px;
        @include tablet {
     	@include increment-2-width;
	    @include increment-2-height;
}
	}
	&__likes-icon {
		align-self: center;
		margin-right: $increment1-px;
		margin-left: $increment3-px;
		width: $increment20px-px;
		height: $increment20px-px;
        @include tablet {
     	@include increment-2-width;
	    @include increment-2-height;
}
	
	}
	&__status-partition {
		display: flex;
		margin-bottom: $increment3-rem;
	    height: $increment3-rem; 
		@include desktop {
		margin-bottom: $increment4-rem;
		}
	}
	&__partition-text {
		@include p-paragraph;
		@include tablet {
			display: flex;
		}
	}
	&__text {
		margin: $increment3-rem 0;
		@include tablet {
			margin: $increment5-rem 0;
			min-width: 540px; //348px 
			max-width: 540px; //420px 
		}
		@include desktop {
			min-width: 540px;
			max-width: 50%;
		}
	}
	&__border {
		@include divider;
	}
}