@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/breakpoints";
@import "../../partials/variables";

/************************************COMMENTS FEED SECTION************************************/

.repository {
	@include standard-padding-left;
	width: 100%;
	background-color: $white;
	@include desktop{
	width: calc(55.62vw + #{$mockup-column-outside-desktop-percent}); //509px+
	}
	&__wrap {
		@include tablet {
			justify-content: left;
		}
	}
	&__binding {
		padding: 0;
	}
	&__bind {
		display: flex;
		flex-flow: row wrap;
		width: calc(90vw + $increment2-px); 
		margin: $increment2-px 0;
		@include tablet {
			margin: 0;
			width: unset; 
		}
	}
	&__empty-container {
		padding: 0;
		@include width-100-percent-minus-mockup-column-outside-horizontal;
		@include desktop{	
			width: calc(55.62vw + #{$increment3-desktop-percent});
	}
	}
	&__top-container {
		display: flex;
		padding-bottom: $increment2-rem;

	}
	&__top-right-container {
		width: 62.50vw; //62.50vw 200px
		padding: 0;
	}
	&__top-right-left-container {
		display: flex;
	}
	&__bottom-container{
		@include tablet{
			display:flex;
		}
	}
	&__bottom-right-container{		
		display: flex;
		margin-top: $increment1-rem;
	    height: $increment3-rem; 
		margin-left: 30vw;
		@include tablet {
		margin-top: $increment3-rem;
		margin-bottom: $increment1-rem;
		margin-left: 5vw;
		//padding-left: calc(50% + 1vw);
		}
	}
	&__border {
		@include divider-form;
	}
	&__avi {
		margin-right: $increment2-rem;
		height: $increment6-rem; 
		width: $increment6-rem; 
		border-radius: 33.33px; //circle
		@include tablet {
			margin-right: $increment20px-rem;
		}
	}
	&__name {
		width: $increment20-px;
		@include h4-paragraphs-and-comments-bold;
		@include tablet {
			line-height: none;
			height: $increment2-rem;
		}
	}
	&__time {
		height: $increment2-rem;
		width: $increment14-px; //120px
		@include h4-list-contact-information;
	}
	&__comment {
		@include h4-list-contact-information;
		width: 62.50vw; //200px
		@include tablet {
			width: 90%;
		}
		@include desktop {
			width: calc(55.62vw + #{$increment5-desktop-percent});
		}
	}
	&__delete {
		@include h5-labels;
		background-color: $brainflix-blue;
		color: $brainflix-blue;
		margin-left: $increment4-px;
		  &:focus {
			outline: none;
		  }
		border-radius: $increment0-px; 
		border-color: $white;
		text-shadow:$increment0-px;
		border-style: none;
		background-color: $white;
		&:hover {
			letter-spacing: 0.5px;
		}
		align-self: center;

		@include tablet{
			margin-left: $increment6-px;
		}
	}
	&__likes-icon {
		margin-right: $increment1-px;
		margin-left: $increment3-px;
		width: $increment20px-px;
		height: $increment20px-px;
        @include tablet {
	
     	@include increment-2-width;
	    @include increment-2-height;
    }
	}   
	&__likes-count {
		@include h5-labels;
		margin-left: $increment1-px;
		align-self: center;
		@include desktop {
			@include h5-labels;
		}
	}
	&__button {
		@include button;
		@include tablet {
			align-items: center;
		}
	}
	&__divider {
		@include divider-form;
		@include width-100-percent-minus-mockup-column-outside-horizontal;
		@include desktop{
		width: calc(55.62vw + #{$increment3-desktop-percent});
		}
	}
}