@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/breakpoints";
@import "../../partials/variables";

/************************************MAIN NAV************************************/

.header {
	@include width-100-percent-minus-standard-padding-horizontal;
	@include standard-padding-horizontal;
	@include increment-2-bottom;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: $silver;
	height: 169px;
	@include tablet {
		flex-direction: row;
		align-items: left;
		height: $increment10-rem;
		margin: 0;
	}
	&__link{
		img{	
			height: $increment6-px;
			width: 124px;
		}
		text-decoration: none;
	}
	&__logo {
		@include tablet { 
		width: calc(124px + 22% + 6.2%); 
		}
		@include desktop {
		width: calc(124px + 39.76% + 12.6%);
		}
	}
	&__search-input {
		background-image: url("../../assets/Icons/Icon-search.svg");
		background-repeat: no-repeat;
		background-size: $increment20px-rem;
		background-position-y: center;
		background-position-x: $increment2-rem;
		padding-left: $increment5-rem;
		height: $increment5-rem;
		border-radius: $increment0-rem;
		border: solid 1px $mercury;
		background-color: $alabaster;
		width: 66.25vw; //252-40= 212/320=66.25vw
		height: $increment6-rem;
		justify-content: right;
		&:active {
			border-color: $brainflix-blue;
		}
		&:hover {
			border-color: $brainflix-blue;
		}
		@include tablet{
			width: 212px;
			
		}
	
	}
	&__partition-button-photo {
		width: $increment36-px; //288px
		height: $increment6-rem;
		margin-left: $increment2-px;
		display: flex;
		align-self: center;
		@include tablet {
			width: 25%;
			margin-right: $increment3-rem;
		}
		@include desktop {
			width: 15%;
			justify-content: flex-end;
		}
	}
	&__button {
		background-image: url("../../assets/Icons/Icon-upload.svg");
		background-size: $increment1-rem $increment1-rem;;
		background-position-y: center;
		background-position-x: 25%;
		background-repeat: no-repeat;
		@include button;
		background-color: $brainflix-blue;
		border: 0;
		border-radius: $increment0-px;
		color: $white;
		&:hover {
			background-color: $brainflix-dark-blue-hover;
		}
		@include tablet {
			background-position-x: 15%;
			padding-left: $increment3-rem;
			width: $increment13-px;
		}
		@include desktop {
			height: $increment6-rem;
			width: $increment13-px;
		}
	}
	&__photo {
		width: $increment6-rem;
		border-radius: 50%;
		height: 100%;
		align-self: left;
		margin-left: $increment2-rem;
	}
}